<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="GtdAppDataContext" connectionString="metadata=res://*/GtdAppDataModel.csdl|res://*/GtdAppDataModel.ssdl|res://*/GtdAppDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=gtdapp;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>